.top-nav p
{
    font-style: italic;
}
header nav ul li
{
    margin:0px 10px;
}
.myactive
{
    background-color: rgb(32, 161, 32) !important;
    border-bottom:3px solid rgb(11, 119, 7) !important;
}
header nav ul li a:hover
{
    background-color: rgb(32, 161, 32) !important;
    border-bottom:3px solid rgb(11, 119, 7) !important;
    color:white !important;
}

